@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme{
  --font-anonymous: Anonymous Pro;
  --font-inter:Inter;
}

:root{
  --m-side: 100px;
  --hover-color: #E65052;
}

body{
  background-color: #FBFAF6;
}